<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nc13.mappers.CategoryMapper">

    <insert id="insert" parameterType="categoryDTO">
        INSERT INTO category (name)
        VALUES(#{name})
    </insert>

    <select id="selectAll" resultType="categoryDTO">
        SELECT * FROM category
    </select>

    <select id="selectOne" resultType="categoryDTO">
        SELECT * FROM category WHERE id = #{id}
    </select>

    <update id="update" parameterType="categoryDTO">
        UPDATE category
        SET name = #{name}
        WHERE id = #{id}
    </update>

    <delete id="delete" parameterType="int">
        DELETE FROM category
        WHERE id = #{id}
    </delete>
</mapper>
