<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD config 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>
    <typeAliases>
        <typeAlias type="com.nc13.spring_shop.model.MemberDTO" alias="memberDTO"/>
        <typeAlias type="com.nc13.spring_shop.model.CategoryDTO" alias="categoryDTO"/>
        <typeAlias type="com.nc13.spring_shop.model.ItemDTO" alias="itemDTO"/>
        <typeAlias type="com.nc13.spring_shop.model.CartDTO" alias="cartDTO"/>
        <typeAlias type="com.nc13.spring_shop.model.OrderDTO" alias="orderDTO"/>
    </typeAliases>
</configuration>